* text=auto eol=lf
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
C:/xampp/htdocs/order-api/.git/objects/e5/5725339962bd998bcb77c6c3faeb140800d1f9 filter=lfs diff=lfs merge=lfs -text
C:/xampp/htdocs/order-api/.git/objects/e5/5725339962bd998bcb77c6c3faeb140800d1f9 filter=lfs diff=lfs merge=lfs -text
